# filetype=yaml
---
transport:
  ssh:  # The SSH options are passed verbatim to paramiko; see https://www.paramiko.org/
    hostname: localhost
    port: 2222
    username: root

qemu:
  repository:
    remote: "https://github.com/qemu/qemu.git"
    path: "{{ local.env.HOME }}/git/qemu"

  build:
    prefix: "{{ local.env.HOME }}/qemu"

  system_bin: "{{ local.env.HOME }}/qemu/bin/qemu-system-x86_64"
  img_bin: "{{ local.env.HOME }}/qemu/bin/qemu-img"

  guests:
    emujoe:
      path: "{{ local.env.HOME }}/vms/emujoe"

      args:
        cpu: "host"
        machine:
          type: "q35,kernel_irqchip=split,accel=kvm"
        smp: 4
        mem: "6G"

      console: "sock"
      ssh_port: 2222
      smp: 4
      host_share: "{{ local.env.HOME }}/git"

      cloudinit:
        meta: "foo"
        user: "foo"
        img: "https://cloud.debian.org/images/cloud/bullseye/daily/latest/debian-11-generic-amd64-daily.qcow2"
