# filetype=yaml
---
transport:
  ssh:  # The SSH options are passed verbatim to paramiko; see https://www.paramiko.org/
    hostname: localhost
    port: 2222
    username: root

qemu:
  repository:
    remote: "https://github.com/qemu/qemu.git"
    path: "{{ local.env.HOME }}/git/qemu"

  build:
    prefix: "{{ local.env.HOME }}/qemu"

  system_bin: "{{ local.env.HOME }}/qemu/bin/qemu-system-x86_64"
  img_bin: "{{ local.env.HOME }}/qemu/bin/qemu-img"

  guests:
    bullseye:
      path: "{{ local.env.HOME }}/guests/bullseye"

      # Plain qemu-system arguments (-cpu, -machine, -smp, etc), the
      # sub-keys are e.g. "-machine type=..."
      system_args:
        machine:
          type: "q35,kernel_irqchip=split,accel=kvm"
        cpu: "host"
        smp: 4
        m: "6G"
        device: "intel-iommu,pt=on,intremap=on"

      # These are 'fancy' arguments, with special handling in the joe.core.qemu.wrapper
      fancy:
        # TODO implement booting a kernel-image + custom configs
        # TODO implement host-share
        host_share: "{{ local.env.HOME }}/git"
        tcp_forward:
          host: 2222
          guest: 22

      # TODO: string of extra arguments
      extra_args: ~

      cloudinit:
        meta: "{{ resources.auxilary['qemu.cloudinit-debian-bullseye-meta'] }}"
        user: "{{ resources.auxilary['qemu.cloudinit-debian-bullseye-user'] }}"
        pubkey: "{{ local.env.HOME }}/.ssh/id_rsa.pub"
        img: "{{ local.env.HOME}}/images/debian-11-generic-amd64-daily.qcow2"
        url: "https://cloud.debian.org/images/cloud/bullseye/daily/latest/debian-11-generic-amd64-daily.qcow2"
