# filetype=yaml
---
xnvme:
  repository:
    remote: "https://github.com/OpenMPDK/xNVMe.git"
    path: "/root/git/xnvme"

  build:
    type: "debug"

  configs:
  - {be: linux, dev: nvme, admin: nvme, sync: nvme, async: thrpool}
  - {be: linux, dev: nvme, admin: nvme, sync: nvme, async: emu}
  - {be: linux, dev: nvme, admin: nvme, sync: psync, async: thrpool}
  - {be: linux, dev: nvme, admin: nvme, sync: psync, async: emu}
  - {be: linux, dev: nvme, admin: nvme, sync: nvme, async: posix}
  - {be: linux, dev: nvme, admin: nvme, sync: nvme, async: libaio}
  - {be: linux, dev: nvme, admin: nvme, sync: psync, async: io_uring}
  - {be: linux, dev: nvme, admin: nvme, sync: psync, async: io_uring_cmd}
  - {be: spdk, dev: nvme, admin: nvme, sync: nvme, async: nvme}

spdk:
  repository:
    remote: "https://github.com/spdk/spdk.git"
    path: "/root/git/spdk"

  configs:
  - {json: /opt/configs/bdev_aio.json}
  - {json: /opt/configs/bdev_nvme.json}
  - {json: /opt/configs/bdev_uring.json}

fio:
  repository:
    remote: "https://github.com/axboe/fio.git"
    path: "/root/git/xnvme"

  bin: /opt/aux/fio

  external_engines:
  - xnvme: /usr/local/lib/x86_64-linux-gnu/libxnvme-fio-engine.so
    loadable: true
  - spdk_nvme: /opt/aux/spdk_nvme
    loadable: true
  - spdk_bdev: /opt/aux/spdk_bdev
    loadable: true
