# filetype=yaml
---
qemu:
  repository:
    remote: "https://github.com/qemu/qemu.git"
    path: "/root/git/qemu"

  build:
    prefix: "/opt"

  system_bin: "qemu-system-x86_64"
  img_bin: "qemu-img"

  guests:
    emujoe:
      path: "/opt/qemu_guests/emujoe"
      console: "sock"
      ssh_port: 2222
      mem: "6G"
      smp: 4
      host_share: "$HOME/git"
