# filetype=yaml
---
transport:
  ssh:  # The SSH options are passed verbatim to paramiko; see https://www.paramiko.org/
    hostname: localhost
    port: 2222
    username: root

qemu:
  repository:
    remote: "https://github.com/qemu/qemu.git"
    path: "/root/git/qemu"

  build:
    prefix: "/opt/qemu"

  system_bin: "qemu-system-x86_64"
  img_bin: "qemu-img"

  guests:
    emujoe:
      path: "/opt/guests/emujoe"

      args:
        cpu: "host"
        machine:
          type: "q35,kernel_irqchip=split,accel=kvm"
        smp: 4
        mem: "6G"

      console: "sock"
      ssh_port: 2222
      smp: 4
      host_share: "$HOME/git"

      cloudinit:
        meta: "foo"
        user: "foo"
        img: "https://cloud.debian.org/images/cloud/bullseye/daily/latest/debian-11-generic-amd64-daily.qcow2"
